:root {
  --color__white--0: #e9e5f4;
  --color__warning: #f8bf8a;
  --color__success--500: #54c752;
  --color__error--500: #ff7b7b;
  --color__midnight--300: #a4aab9;
  --color__midnight--400: #73768f;
  --color__midnight--500: #7b84a3;
  --color__midnight--600: #30374e;
  --color__midnight--700: #1c1f2b;
  --color__midnight--800: #171923;
  --color__midnight--900: #11121a;
  --color__blue--400: #6198ec;
  --color__blue--500: #4172bd;
  --color__highlight--green: #83c971;
  --color__success_bg: #181e24;
  --color__warning_bg: #3e332e;
  --color-info: #799aef;
  --color-info-bg: #171923;
}

*,
*::before,
*::after {
  scrollbar-color: var(--color__midnight--600) transparent;
  scrollbar-width: thin;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#root {
  height: 100vh;
  background-color: var(--color__midnight--900);
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: var(--color__white--0);
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

h4 {
  color: var(--color__white--0);
  font-weight: 700;
  line-height: 150%;
  margin-top: 16px;
}

.link {
  font-weight: 700;
  color: var(--color__blue--400);
  background-color: transparent;
  line-height: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color__blue--500);
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--color__midnight--500);
}

.disabled path {
  pointer-events: none;
  cursor: not-allowed;
  fill: var(--color__midnight--500);
}

.error {
  color: var(--color__error--500);
}

.error path {
  fill: var(--color__error--500);
}

/* Status badge */
.badge-box {
  position: relative;
  max-width: 126px;
}

.badge-box.contained {
  font-weight: 700;
}

.badge-box.text {
  font-weight: normal;
}

.badge-box .badge-box__badge-icon {
  margin-right: 5px;
}

.status-badge {
  display: flex;
  width: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--color__white--0);
  line-height: 140%;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}

.badge-box.contained .status-badge.success {
  background-color: var(--color__success_bg);
}

.badge-box.contained .status-badge.warning {
  background-color: var(--color__warning_bg);
}

.badge-box.text .status-badge::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.badge-box.text .status-badge.success {
  color: var(--color__success--500);
}

.badge-box.text .status-badge.warning {
  color: var(--color__warning);
}

.badge-box.text .status-badge.disabled {
  color: var(--color__midnight--500);
}

.badge-box.text .status-badge.error {
  color: var(--color__error--500);
}

.badge-box.text .status-badge.success::before {
  background-color: var(--color__success--500);
}

.badge-box.text .status-badge.disabled::before {
  background-color: var(--color__midnight--500);
}

.badge-box.text .status-badge.error::before {
  background-color: var(--color__error--500);
}

.badge-box.text .status-badge.warning::before {
  background-color: var(--color__warning);
}

/* Status badge */

.content-box.auth {
  width: 100%;
  height: 100%;
  padding: 24px 15px;
  max-height: calc(100vh - 135px);
  overflow-y: auto;
}

.content-box {
  overflow: hidden;
  padding: 0;
}

.authorization-box {
  display: flex;
  height: calc(100vh - 16px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.activeButton {
  width: 245px;
  cursor: pointer;
  color: var(--color__white--0);
  background-color: var(--color__blue--500);
  text-align: center;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 8px;
}

fieldset {
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  margin: 16px 0 0 0;
}

fieldset label {
  display: block;
  margin-bottom: 8px;
  color: var(--color__midnight--400);
  font-size: 14px;
}

fieldset.remotes-root label {
  color: var(--color__white--0);
}

/*custom datalist styles*/
.dataList {
  position: relative;
  max-width: 400px;
  color: #000;
}

.dataList.active .dataList-ul {
  display: block;
}

.dataList-input {
  padding: 14px 24px 14px 14px;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid var(--color__midnight--600);
  background-color: var(--color__midnight--900);
  outline: 0;
  color: var(--color__midnight--300);
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
}

img.new-tab-icon + input {
  padding: 14px 24px 14px 35px;
}

.dataList.accent .dataList-input {
  color: var(--color__blue--500);
}

.dataList-input:focus {
  outline: 0;
}

.dataList-ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 5px 0 0 0;
  padding: 0;
  width: 100%;
  max-height: 320px;
  list-style: none;
  border-radius: 8px;
  background: var(--color__midnight--800);
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;
}

.dataList-ul.active {
  border: 1px solid var(--color__midnight--600);
}

.dataList-ul li {
  display: block;
  text-align: left;
  color: var(--color__midnight--300);
  cursor: pointer;
  padding: 8px 16px;
  border-top: 1px solid var(--color__midnight--700);
}

.dataList.accent .dataList-ul li {
  color: var(--color__blue--500);
}

.dataList-ul li:hover {
  background: var(--color__midnight--700);
}

/* action-btn-block */
.action-btn-block {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 24px;
  background-color: var(--color__midnight--800);
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-left: -15px;
}

.action-btn-block .button {
  height: 44px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  color: var(--color__white--0);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  background: transparent;
  width: 100%;
}

.action-btn-block .button:nth-child(2) {
  margin-top: 8px;
}

.action-btn-block .button[disabled] {
  color: var(--color__midnight--300);
  pointer-events: none;
  cursor: not-allowed;
}

.action-btn-block .button.publish-button {
  background: var(--color__blue--500);
}

.action-btn-block .button.preview-button {
  color: var(--color__white--0);
}

.action-btn-block .button[disabled].publish-button {
  background: var(--color__midnight--500);
}

/* action-btn-block */

.disabled-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color__midnight--800);
  opacity: 0.5;
}

.dataList .new-tab-icon,
.dataList .arrow-down-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dataList .new-tab-icon {
  left: 8px;
  cursor: pointer;
}

.dataList .arrow-down-icon {
  right: 8px;
}

/* MUI select custom */
.custom-select.MuiAutocomplete-root .MuiInputBase-root,
.custom-select.MuiInputBase-root {
  color: var(--color__midnight--300);
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid var(--color__midnight--600);
}

.custom-select .MuiSelect-icon {
  top: auto;
  right: 9px;
}

.custom-select.MuiAutocomplete-root .MuiFormControl-root {
  width: 100%;
}

.custom-select .MuiInputBase-root .MuiOutlinedInput-notchedOutline,
.custom-select.MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border: none;
}

.custom-select__popper {
  top: 5px !important;
  color: var(--color__midnight--300);
  z-index: 1;
}

.custom-select__popper .MuiPaper-root {
  border-radius: 8px;
  background-color: var(--color__midnight--800);
  border: 1px solid var(--color__midnight--600);
}

.custom-select__popper .MuiAutocomplete-listbox {
  height: 100%;
  max-height: 290px;
}

.custom-select__popper
  .MuiPaper-root
  .MuiAutocomplete-listbox
  .MuiAutocomplete-option {
  background-color: transparent;
}

.custom-select__popper
  .MuiAutocomplete-listbox
  .MuiAutocomplete-option[aria-selected='true'] {
  color: var(--color__blue--500);
}

.custom-select__popper
  .MuiPaper-root
  .MuiAutocomplete-listbox
  .MuiAutocomplete-option.Mui-focused {
  background-color: var(--color__midnight--600);
}

/* MUI select custom */

/* Application group select */
.application-group-select .MuiAutocomplete-listbox {
  overflow-y: auto;
  height: 100%;
  max-height: 290px;
  background-color: var(--color__midnight--800);
}

.application-group-select
  .MuiPaper-root
  .MuiAutocomplete-listbox
  .MuiAutocomplete-option {
  display: flex;
  font-family: Lato;
  justify-content: space-between;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.application-group-select
  .MuiAutocomplete-listbox
  .MuiAutocomplete-option[aria-selected='true'],
.application-group-select
  .MuiPaper-root
  .MuiAutocomplete-listbox
  .MuiAutocomplete-option.Mui-focused {
  background-color: transparent;
}

.application-group-select
  .MuiPaper-root
  .MuiAutocomplete-listbox
  .MuiAutocomplete-option:hover {
  background-color: var(--color__midnight--700);
}

.application-group-select .MuiList-root .MuiListSubheader-root {
  font-weight: 700;
  color: var(--color__blue--500);
  background-color: transparent;
  line-height: inherit;
  padding: 4px 16px;
}

.application-group-select__version {
  color: var(--color__white--0);
  font-weight: 700;
}

.application-group-select__date {
  color: var(--color__midnight--500);
  margin-left: 8px;
}

.application-group-select__author {
  color: var(--color__midnight--300);
}

/* Application tag select */

/* Icons */
.burger-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.burger-icon:hover path {
  fill: var(--color__blue--500);
}

/* Icons */

/* Navigation list */
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  font-size: 14px;
  background-color: var(--color__midnight--700);
}

.navigation-list .navigation-list__item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navigation-list .navigation-list__item path {
  transition: fill 0.2s ease;
}

.navigation-list .navigation-list__item:hover:not(:last-child),
.navigation-list .navigation-list__item.active:not(:last-child) {
  color: var(--color__blue--500);
}

.navigation-list .navigation-list__item:hover:not(:last-child) path,
.navigation-list .navigation-list__item.active:not(:last-child) path {
  fill: var(--color__blue--500);
}

.navigation-list .navigation-list__item:last-child {
  border-top: 1px solid var(--color__midnight--600);
}

.navigation-list .navigation-list__item span {
  margin-left: 8px;
}

/* Navigation list */

/* Tag label */
.tag-label {
  color: var(--color-info);
  border-radius: 6px;
  border: 1px solid var(--color-info);
  padding: 0 8px;
}

/* Tag label */
